@model IEnumerable<Inventory>
@using System.Web
@{
	ViewData["Title"] = "Read Inventory";
}


<h1>Inventory @*<a asp-action="Create" class="btn btn-sm btn-secondary">Create</a>*@ </h1>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<button type="button" id="crt" class="btn btn-info btn-lg" data-toggle="modal" data-target="#exampleModal">Create</button>
<table class="table table-bordered table-sm table-striped">
	<thead>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Price</th>
			<th>Quantity</th>
			<th>Added On</th>
			<th>Update</th>
			<th>Delete</th>
		</tr>
	</thead>
	<tbody>
		@if (Model == null)
		{
			<tr><td colspan="7" class="text-center">No Tickets Booked </td></tr>
		}
		else
		{
			@foreach (var p in Model)
			{
				<tr>
					<td>@p.Id</td>
					<td>@p.Name</td>
					<td>@string.Format(new System.Globalization.CultureInfo("en-US"),"{0:C2}", p.Price)</td>
					<td>@p.Quantity</td>
					<td>@string.Format("{0:dddd, dd MMMM yyyy}", p.AddedOn)</td>
					<td><button type="button" id="upd" data-id="@p.Id" class="btn btn-info btn-lg" data-toggle="modal" data-target="#updateModal">Update</button></td>
					@*asp-action="Update"*@
				
					<td>
						<form asp-action="Delete" method="post" asp-route-id="@p.Id">
							<button>Delete</button>
						</form>
					</td>
				</tr>
			}
		}
	</tbody>
</table>


	<div id="myModal" class="modal fade" tabindex="-1" role="dialog" >
		<div class="modal-dialog">
			<div class="modal-content">

				<div class="modal-body">
					<form method="post" action="Home/Create">
						<div class="form-group">
							<label>	Name</label>
							<input type="text" class="form-control" name="Name" />
						</div>
						<div class="form-group">
							<label > Price</label>
							<input class="form-control" name="Price" min="0" />
						</div>
						<div class="form-group">
							<label > Quantity </label>
							<input class="form-control"name="Quantity" />
						</div>
						<div class="text-center panel-body">
							<button type="submit" class="btn btn-sm btn-primary">Create</button>
						</div>
					</form>
				</div>


			</div>

		</div>

	</div>



<div id="updateModal" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-body">
				<form method="post" action="Home/Update">
					<div class="form-group">
						<label>	ID </label>
						<input type="text" class="form-control" name="Id" id="Id" required readonly />
					</div>
					<div class="form-group">
						<label>	Name</label>
						<input type="text" class="form-control" name="Name" id="Name" required>
					</div>
					<div class="form-group">
						<label> Price</label>
						<input class="form-control" name="Price" min="0" id="Price" required />
					</div>
					<div class="form-group">
						<label> Quantity </label>
						<input class="form-control" name="Quantity" id="Quantity"/>
					</div>
					<div class="text-center panel-body">
						<button type="submit" class="btn btn-sm btn-primary">Update</button>
					</div>
				</form>
			</div>


		</div>

	</div>

</div>



<script>
	$(document).ready(function () {

		
		$("#crt").click(function () {
		
			$("#myModal").modal('show');
		});
		$("#crt").click(function () {
			$("#myModal").modal('hide');
			});
		
	});
</script>
<script>
	$(document).ready(function () {

		
		$("#upd").click(function () {
			var id = $(this).data().id;
			$("#updateModal").modal('show');
			//debugger;
			$.ajax({
				type: 'GET',
				url: 'Home/FindRecord?Id='+id,
				data: { "id": id },				
				success: function (response) {	
					
					$('#updateModal #Id').val(response.id);
					$('#updateModal #Name').val(response.name);
					$('#updateModal #Price').val(response.price);
					$('#updateModal #Quantity').val(response.quantity);
				}
			})
		});
		$("#upd").click(function () {
			$("#updateModal").modal('hide');
		});

	});
</script>